{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}

<div style="font-size: 20px; font-weight: bold; color: #afd0f3; text-transform: uppercase; margin-bottom: 10px; letter-spacing: 2px;">Chat:</div>
    {{ extra_data.content_chats }}
    {% for content in content_chats %}
            <div style="margin-bottom: 15px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                <div style="font-size: 12px; color: #888;">HORA: {{ content.content_chat.created_at }} <div class="contenedor">{{content.actitude}}: <span style="color: #d0d7de;">{{content.cause}}</span></div> </div>
                <div style="margin-top: 5px;">
                    <strong style="color: #28a745;">Cliente:</strong>
                    <span>{{ content.content_chat.request }}</span>
                </div>
                <div style="margin-top: 5px;">
                    <strong style="color: #007bff;">{{ content.content_chat.chat.agent.name }}:</strong>
                    <span>{{ content.content_chat.response }}</span>
                </div>

            </div>
        {% endfor %}
    </div>

    <!-- {{ block.super }} -->
{% endblock %}
